In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [3]:
# Call the function.
say_hello()

Hello!

In [4]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [5]:
# Call the function.
say_something("Hello World")

Hello World

In [6]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

# Writing Functions for the School District Data

In [7]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [8]:
passing_math_count = 29370
total_student_count = 39170

In [9]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

# The Pandas map() Function

In [10]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [11]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [ ]:
#map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

In [12]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

# The Python format() Function

In [13]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [14]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.1f}".format(grade))

92.3
84.6
86.8
98.3

# Chaining the map() and format() Functions

In [16]:
my_grades = pd.DataFrame([92.34, 84.56, 86.78, 78.32])
my_grades

       0
0  92.34
1  84.56
2  86.78
3  78.32

In [17]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [18]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object